.container {
  padding-block : 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.content {
  width: clamp(33ch, 75%, 110ch);
  /* border: 1px solid limegreen; */
}

.intro {
  display: flex;
  flex-wrap: wrap;
  /* line-height: 1.5em; */
}

.intro > *:nth-child(1) {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25ch;
  /* border: 1px solid limegreen; */
}

.intro > *:nth-child(2) {
  flex: 1 1 50%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: 1.7rem;
}

.skills {
  /* border: 1px solid plum; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}

.tech {
  margin-right: 1rem;
  font-weight: bold;
}

.htmlIcon {
  margin-right: 1.2rem;
  color: #e34c26;
}

.cssIcon {
  margin-right: 1.2rem;
  color: #2965f1;
}

/* To style the "js" letters in the JavaScript icon whit the color #323330 */
.javascriptIconContainer {
  position: relative;
  margin-right: 1.2rem;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  z-index: -1;
}

.javascriptIconContainer::before {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 14px;
  width: 35px;
  height: 35px;
  background-color: #323330;
  z-index: -2;
}
/* -------------------------------------------------------- */

.javascriptIcon {
  color: #f0db4f;
}

.reactIcon {
  margin-right: 1.2rem;
  color: #61dbfb;
}

.tailwindIcon {
  color: #4dc0b5;
}
